html {
  height:100%;
}

body {
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-color: #3b3b3b;
  height:100%;
}

#contactSection {
  text-align: center;
  padding: 0 20% 0 20%;
}

.projectDiv {
    width:45%;
    margin-bottom:50px;
    display:inline-block;
}

.cvpdf {
  width:800px;
  height:300px;
}

h1 {
    font-size: 50px;
    font-weight 900;
    color:white;
}

.projectDescription {
    text-align:center;
    margin-top:30px;
    color:white;
    font-size:18px;
}

.me {
  width:200px;
  height:auto;
  border-radius: 50%;
}

h4 {
  vertical-align: middle;
  text-align: left;
  color:white;
  font-size:25px;
}

.projectWrapper {
  width: 100%;
  height:200px;
}

.CNNImg {
  width: 400px;
  height:400px;
}

.drawdroidImg {
    width:300px;
    height:400px;
}

.CNNCaption {
  text-align: justify;
  text-decoration: dotted;
  width:50%;
  height:200px;
  float:left;
  padding:5% 0 0 0;
}

.scannerImg {
  width: 200px;
  height:300px;
}

.scannerCaption {
  width:50%;
  height:300px;
  float:left;
  padding:10% 0 0 0;
}

.wrapper {
    height: calc(100% - 290px);
}

.main {
  height:100%;
}

.logwrapper {
  overflow: hidden;
  height:100%;
}

#logform {
  height:100%;
}

.formdiv {
  height:20%;
  font-weight: 900;
}

.mainwrapper {
  width:100%;
  height: 90%;
}

.sectionwrappaer {
  padding: 10px;
  background-color:black;
  vertical-align: top;
  background-color: #3b3b3b;
  display: inline-block;
  width:100%;
  height:100%;
}

section {
  width:100%;
  height:100%;
}

h2 {
  font-size: 30px;
  font-weight: 900;
  color:white;
}

h3 {
  font-size: 30px;
  font-weight: 900;
  color:white;
}

.logtextwrapper {
  width: 100%;
  height: 100%;
}

#logtitle {
  width: 100%;
  height:100%;
  font-size: 20px;
  font-weight: 700;
}

.ui-menu {
  padding:0;
  margin:0;
}

.ui-menu-item {
  display:block;
  padding:5px;
  background-color: black;
  color:white;
  border-color: purple;
  display: block;
  width:300px;
  font-weight: 700;
  text-align: center;
}

#logText {
  resize: none;
  width: 100%;
  height:100%;
  font-size: 20px;
  font-weight: 700;
}

.savelogwrapper {
  margin-top:20px;
  height:50px;
}

.PPbutton {
  padding: 5px;
  color:white;
  background-color:purple;
  border-style:solid;
  border-radius:20%;
}

#loginputswrapper {
    width:100%;
    height:50px;
}

#logtitlewrapper {
    display:inline-block;
    width:50%;
    height:100%;
}

#editbuttonswrapper {
    display:inline-block;
    width:50%;
    height:100%;
    float: right;
}

#addlogbutton {
    float:right;

    display:flex;
    align-items: center;
    text-decoration:none;
    background-color:green;
    color:white;
    border-style:solid;
    border-color:white;
    font-size: 20px;
    font-weight: 900;
    width:50%;
    height:100%;
}

#addlogbutton * {
    width:100%;
    text-align:center;
}

#addlogbutton:hover {
    background-color:black;
    border-radius:10%;
}

#deletelogbutton {
    float:right;
    text-align:center;
    display:flex;
    align-items: center;
    text-decoration:none;
    background-color:red;
    color:white;
    border-style:solid;
    border-color:white;
    font-size: 20px;
    font-weight: 900;
    width:50%;
    height:100%;
}

#deletelogbutton * {
    width:100%;
    text-align:center;
}

#deletelogbutton:hover {
    background-color:black;
    border-radius:10%;
}

#logowrapper {
  width:100px;
  height:100px;
}

.logo {
  width:auto;
  height:50px;
  position: relative;
  z-index: 2;
}

.head {
  position: static;
  background-color: grey;
  width:100%;
  height:10%;
}

nav {
    margin:0;
}

.navbar-toggler {
  position: relative;
  z-index: 2;
}

.lefthead {
  width:40%;
  display: flex;
  align-items: center;

}

.righthead {
  display: flex;
  align-items: center;

}

.menuwrapper {
  display: flex;
  align-items: center;
  margin-left:100px;
  width:200px;
  height:100px;

}

.menulist {
  float:left;
  width:100px;
}

.menu {
  position: relative;
  z-index: 2;
  vertical-align: middle;
  margin-left:20px;
}

#sidebarSection {
    display:inline-block;
    width:20%;
    height:100%;
}

#sidebar {
    width:100%;
    height:100%;
    background-color:black;
    overflow:hidden;
}

#sidebarlist {
    margin:0;
    padding:0;
    width:100%;
    height:100%;
    list-style: none;
    overflow-y: scroll;
}

.sidebaritem {
    padding:0;
    display:flex;
    align-items: center;
    width:100%;
    text-align:center;
    color:white;
    background-color:purple;
    border-style:solid;
    border-color:white;
    font-size:30px;
    font-weight:900;
}

.sidebaritem * {
    margin:0;
    width:100%;
    height:100%;
    overflow: hidden;
}

.sidebaritem:hover {
    background-color:black;
}

#logSection {
    display:inline-block;
    vertical-align:top;
    width:79.6%;
    height:100%;
}

#canvaswrapper {
  width:100%;
  height:100%;
  text-align: center;
}

#canvas {
  width:auto;
  height:100px;
  text-align: center;
}

.banner {
  position: relative;
  z-index: 2;
  height:auto;
  width:100%;
  height:77.66px;
}

.professorperson {
    width:100%;
    height:auto;
  }

.foot {
  position: fixed;
  bottom: 0;
  display: flex;
  align-items: center;
  width: 100%;
  height:70px;
  background-color: antiquewhite;
  color:white;
  color:black;
  vertical-align: middle;
}

.ui-helper-hidden-accessible {
  display: none;
}

@media screen and (max-width:1550px) {

  .wrapper {
      height: calc(100% - 160px);
  }

  .projectWrapper {
    width: 100%;
    height:150px;
  }

  .CNNImg {
    width: 300px;
    height:300px;
  }

  .drawdroidImg {
      width:200px;
      height:300px;
  }

  .CNNCaption {
    width:50%;
    height:150px;
    float:left;
    border-style:solid;
    padding:2% 0 0 0;
  }

  .scannerImg {
    width: 100px;
    height:150px;
  }

  .scannerCaption {
    width:50%;
    height:150px;
    float:left;
    border-style:solid;
    padding:2% 0 0 0;
  }
}

@media screen and (max-width:1300px) {

  .wrapper {
      height: calc(100% - 150px);
  }

      #logSection {
          width:79.5%;
      }


    .projectDescription {
        color:white;
        font-size:16px;
    }

  .cvpdf {
    width:500px;
    height:300px;
  }

  h4 {
    font-size: 15px;
  }

  .projectWrapper {
    width: 100%;
    height:150px;
  }

  .CNNImg {
    width: 300px;
    height:300px;
  }

  .drawdroidImg {
      width:200px;
      height:300px;
  }

  .CNNCaption {
    width:50%;
    height:100px;
    float:left;
    border-style:solid;
    padding:2% 0 0 0;
  }

  .scannerImg {
    width: 100px;
    height:150px;
  }

  .scannerCaption {
    width:50%;
    height:100px;
    float:left;
    border-style:solid;
    padding:2% 0 0 0;
  }

  .sectionwrappaer {
    border-radius: 5%;
    vertical-align: top;
    background-color: #3b3b3b;
    display: inline-block;
    width:100%;
    height:100%;
  }

  .foot {
    font-size: 10px;
    height:10px;
  }


  .head {
    width:100%;
    height:60px;
    background-color:grey;
  }

  nav {
    height:60px;
    position: static;
  }

  .banner {
    position: relative;
    z-index: 2;
    height:50px;
    width:auto;
  }

  #logowrapper {
    width:50px;
    height:50px;
  }

  #canvas {
    width:auto;
    height:50px;
    text-align: center;
  }

  .menuwrapper {
    display: flex;
    align-items: center;
    margin-left:100px;
    width:200px;
    height:50px;
    vertical-align: middle;
  }
}

@media screen and (max-width:1200px) {

    .projectDescription {
      font-size:16px;
    }

  h4 {
    vertical-align: middle;
    text-align: left;
    color:white;
    font-size:13px;
  }

  .projectWrapper {
    width: 100%;
    height:100px;
  }

  .CNNImg {
    width: 300px;
    height:300px;
  }

  .CNNCaption {
    width:50%;
    height:80px;
    float:left;
    border-style:solid;
    padding:2% 0 0 5%;
  }

  .scannerImg {
    width: 50px;
    height:100px;
  }

  .scannerCaption {
    width:50%;
    height:80px;
    float:left;
    border-style:solid;
    padding:2% 0 0 5%;
  }

  .sectionwrappaer {
    border-radius: 5%;
    vertical-align: top;
    background-color: #3b3b3b;
    display: inline-block;
    width:100%;
    height:100%;
  }

  .foot {
    font-size: 10px;
    height:10px;
  }

  h2 {
    font-size: 30px;
  }

  nav {
    height:60px;
    position: static;

  }

  .mainwrapper {

    width:100%;
    height: 90%;
  }

}

@media screen and (max-width:1100px) {
    .projectDescription {
      font-size:16px;
    }

  .cvpdf {
    width:400px;
    height:200px;
  }

  .mainwrapper {
    margin-top:20px;
    width:100%;
    height: 90%;
  }

  h3 {
    font-size: 18px;
  }

  .foot {
    font-size: 5px;
    height:20px;
  }

  .me {
    text-align: center;
    width:150px;
    height:auto;
  }
}

@media screen and (max-width:950px) {
        .projectDescription {
          font-size:12px;
        }

  .projectTitle {
    font-size:7px;
  }

  .cvpdf {
    width:300px;
    height:100px;
  }

  h3 {
    font-size: 16px;
  }

  .me {
    text-align: center;
    width:100px;
    height:auto;
  }

  .wrapper {
    height: calc(100% - 130px);
  }

  .foot {
    font-size: 5px;
    height:10px;
  }

  .banner {
    position: relative;
    z-index: 2;
    height:50px;
    width:auto;
  }

  nav {
    height:60px;
    position: static;
  }

  .menulist {
    float:left;
    width:100px;
  }

  .logtitlewrapper {
    height:50px;
  }
}

@media screen and (max-width:800px) {

    #logSection {
        width:77%;
    }

      .projectDescription {
        color:white;
        font-size:12px;
      }
  .projectTitle {
    font-size:5px;
  }

  .CNNImg {
    width: 200px;
    height:200px;
  }

  .drawdroidImg {
      width:100px;
      height:200px;
  }
}

@media screen and (max-width:600px) {

  h4 {
    font-size: 10px;
  }

    .wrapper {
        height: calc(100% - 80px);
    }

    #logSection {
        width:78%;
    }

  .sidebaritem {
      width:100%;
      text-align:center;
      color:white;
      background-color:purple;
      border-style:solid;
      border-color:white;
      font-size:12px;
      font-weight:900;
  }

  .projectWrapper {
    width: 100%;
    height:80px;
  }

      .projectDescription {
        color:white;
        font-size:12px;
      }

  .CNNImg {
    width: 300px;
    height:300px;
  }

  .drawdroidImg {
      width:150px;
      height:300px;
  }

    .projectDiv {
        width:100%;
        margin-bottom:50px;
        display:block;
    }

  .CNNCaption {
    width:50%;
    height:60px;
    float:left;
    padding:1% 0 0 5%;
  }

  .scannerImg {
    width: 50px;
    height:80px;
  }

  .scannerCaption {
    width:50%;
    height:80px;
    float:left;
    padding:1% 0 0 5%;
  }

  h2 {
    font-size: 15px;
  }

  h3 {
    font-size: 15px;
  }

  .foot {
    font-size: 5px;
    height:10px;
  }



  .banner {
    position: absolute;
    top:0;
    right:0;
    z-index: 2;
    height:25px;
    width:auto;
  }


  .navbar {
    padding:0;
  }
    .container-fluid {
        padding:0;
    }

    .lefthead {
      width:50%;
      display: flex;
      align-items: center;
    }

    .righthead {
      width:50%;
      display: flex;
      align-items: center;
    }

  .menuwrapper {
    display: flex;
    align-items: center;
    margin: 0;
    width: 100%;
    height: 60px;
    vertical-align: middle;
  }

  .menulist {
    display:inline-block;
    width:100%;
    float:left;
  }

  .nav-item {
    display: inline-block;
  }

  .menu {
    font-size:10px;
    font-weight:800;
    position: relative;
    z-index: 2;
    vertical-align: middle;
    margin-left:5px;
    display: inline-block;
  }

  .me {
    width:50px;
    height: auto;
  }

  .sectionwrappaer {

    border-radius: 5%;
    vertical-align: top;
    background-color: #3b3b3b;
    display: inline-block;
    width:100%;
    height:100%;
  }

  #contactSection {
    padding: 20px 5px 20px 5px;
  }

  @media screen and (max-width:300px) {
      .projectDescription {
        color:white;
        font-size:5px;
      }

    .sectionwrappaer {
      width:500px;
      height:500px;
    }

    h4 {
      vertical-align: middle;
      text-align: left;
      color:white;
      font-size:13px;
    }

    .projectWrapper {
      width: 100%;
      height:100px;
    }

    .CNNImg {
      width: 300px;
      height:300px;
    }

    .CNNCaption {
      width:50%;
      height:80px;
      float:left;
      padding:2% 0 0 5%;
    }

    .scannerImg {
      width: 30px;
      height:50px;
    }

    .scannerCaption {
      width:50%;
      height:80px;
      float:left;
      padding:2% 0 0 5%;
    }
  }
}

@media screen and (max-height:600px) {


  h4 {
    font-size: 7px;
  }

  .projectWrapper {
    width: 100%;
    height:40px;
  }

  .CNNCaption {
    width:50%;
    height:40px;
    float:left;
    padding:1% 0 0 5%;
  }

  .scannerImg {
    width: 40px;
    height:50px;
  }

  .scannerCaption {
    width:50%;
    height:50px;
    float:left;
    padding:1% 0 0 5%;
  }
}