<div class="text-center logwrapper">
    <h1>Logs</h1>

    <form id="logform" asp-controller="Log" method="post">
        <div class="formdiv logtitlewrapper">
            <input name="title" id="logTitle" ng-click="titleClick()" ng-model="log.logTitle"/>
        </div>
        <div class="formdiv logtextwrapper">
            <textarea name="text" id="logText" ng-model="log.logText" disabled></textarea>
        </div>

<!--        <div class="formdiv savelogwrapper">-->
<!--            <a class="PPbutton" onclick="save()">Save</a>-->
<!--        </div>-->

        <input id="userID" name="userID" type="hidden" value="1"/>
        <input name="id" type="hidden" ng-model="log.id"/>
        <input name="dateModified" type="hidden" value="-1"/>

    </form>
</div>