<div id="logController" class="logwrapper controller">
    <div id="sidebarSection">
        <div id="loginputswrapper">
            <div id="logtitlewrapper">
                <input id="logtitle" placeholder="New page..." ng-model="newLogTitle"/>
            </div>

            <div id="editbuttonswrapper">
                    <a id="deletelogbutton" ng-click="deleteLog()">
                        <div>x</div>
                    </a>

                    <a id="addlogbutton" ng-click="addLog()">
                        <div>+</div>
                    </a>
            </div>
        </div>


        <nav id="sidebar">
            <ul id="sidebarlist">
                <li class="sidebaritem" ng-repeat="log in logs | orderBy: '-dateModified'" ng-click="selectLog(log.logTitle)">
                    <pre>{{log.logTitle}}</pre>
                </li>
            </ul>
        </nav>
    </div>

    <div id="logSection">
        <form id="logform" asp-controller="Log" method="post">
            <div class="formdiv logtextwrapper">
                <textarea name="text" id="logText" ng-model="log.logText" disabled></textarea>
            </div>

            <input id="userID" name="userID" type="hidden" value="1"/>
            <input name="id" type="hidden" ng-model="log.id"/>
            <input name="dateModified" type="hidden" value="-1"/>
        </form>
    </div>
</div>

